{% include "snippets/large_button.html" with mode="off" text="Pois" %}
{% include "snippets/large_button.html" with mode="night_mode" text="Yö" %}
{% include "snippets/large_button.html" with mode="morning_mode" text="Aamu" %}
{% include "snippets/large_button.html" with mode="on" text="Kirkkaaksi" %}
{% include "snippets/large_button.html" with mode="disco" text="Disko" %}

<table class="center-content">
    <tr>
        <td>Tatami</td><td>Pöytä</td><td>Eteinen</td>
    </tr>
    <tr>
        {% for index in "   " %}
        <td>{% include "snippets/small_button.html" with group=forloop.counter mode="off" text="Pois" %}</td>
        {% endfor %}
    </tr>

    <tr>
        {% for index in "   " %}
        <td>{% include "snippets/small_button.html" with group=forloop.counter mode="on" text="Kirkas" %}</td>
        {% endfor %}
    </tr>

    <tr>
        {% for index in "   " %}
        <td>{% include "snippets/small_button.html" with group=forloop.counter mode="morning" text="Aamu" %}</td>
        {% endfor %}
    </tr>

    <tr>
        {% for index in "   " %}
        <td>{% include "snippets/small_button.html" with group=forloop.counter mode="night" text="Yö" %}</td>
        {% endfor %}
    </tr>
</table>