raven>=5.2.0
astral
django-compressor>=1.4
django-extensions>=1.4.9
django-statsd>=2.0.1
django-websocket-redis
Django>=1.7.4
helen-electricity-usage>=0.0.3
hiredis>=0.1.4
huawei-b593-status>=0.0.1
ledcontroller>=1.0.6
manage_server_power>=0.0.1
numpy
requests>=2.5.1
setproctitle
slimit>=0.8.1
statsd
wakeonlan>=0.2.2
xmltodict>=0.9.0
