.server-power .shutdown {
  background-color: #cc0000;
}

.server-power .startup {
  background-color: #006600;
}

.server-power {
  display: inline-block;
}
.genelec-power {
  display: inline-block;
}

.genelec-power .shutdown {
  background-color: #cc0000;
}

.genelec-power .startup {
  background-color: #006600;
}

.display-power {
  display: inline-block;
}

.display-power .shutdown-display {
  background-color: #cc0000;
}

.display-power .startup-display {
  background-color: #006600;
}
