<div class="row timer-item center-content add-timers">
  <div class="col-md-4 timer-striping animate-click add-timer" data-duration="10" data-name="Tee" data-alarm-0s="true" data-alarm-30s="true">
    <p><i style="font-size: 300%" class="fa fa-coffee"></i></p>
  </div>
  <div class="col-md-4 timer-striping animate-click add-stopclock">
    <p><i style="font-size: 300%" class="fa fa-clock-o"></i></p>
  </div>
  <div class="col-md-4 timer-striping animate-click add-custom-timer-plus">
    <p><i style="font-size: 300%" class="fa fa-plus"></i></p>
  </div>
</div>
