<div class="row">
  <div class="col-md-5">
    <div class="row">
      <div class="col-md-2 add-timer-button animate-click" data-content="clear-h">
        h
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="+1h">
        +1
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="+3h">
        +3
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="+8h">
        +8
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="+24h">
        +24
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 add-timer-button animate-click">
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="-1h">
        -1
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="-3h">
        -3
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="-8h">
        -8
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="-24h">
        -24
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2 add-timer-button animate-click" data-content="clear-m">
        min
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="+1m">
        +1
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="+3m">
        +3
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="+5m">
        +5
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="+15m">
        +15
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 add-timer-button animate-click">
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="-1m">
        -1
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="-3m">
        -3
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="-5m">
        -5
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="-15m">
        -15
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-2 add-timer-button animate-click" data-content="clear-s">
        s
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="+5s">
        +5
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="+10s">
        +10
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="+15s">
        +15
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 add-timer-button animate-click">
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="-5s">
        -5
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="-10s">
        -10
      </div>
      <div class="col-md-2 add-timer-button animate-click" data-content="-15s">
        -15
      </div>
    </div>
  </div>
  <div class="col-md-7">
    <div class="row">
      <div class="col-md-10">
        <div id="custom-timer-duration" data-content="0000000">000:00:00</div>
      </div>

      <div class="col-md-2" id="close-add-custom-timer" style="font-size: 600%; text-align: right; padding-right: 40px">
        <i class="fa fa-times-circle-o"></i>
      </div>
    </div>
    <div class="row" style="min-height: 70px">
      <div class="col-md-12">
        <div class="timer-description-button animate-click">Nimetön</div>
        <div class="timer-description-button animate-click">Leipä</div>
        <div class="timer-description-button animate-click">Kakku</div>
        <div class="timer-description-button animate-click">Pasta</div>
        <div class="timer-description-button animate-click">Pesutupa</div>
        <div class="timer-description-button animate-click">Sous Vide</div>
        <div class="timer-description-button animate-click">Parvekkeella</div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
        <div class="timer-description-button animate-click" data-duration="390">Muna (6,5min)</div>
        <div class="timer-description-button animate-click" data-duration="480">Muna (8min)</div>
        <div class="timer-description-button animate-click" data-duration="3300">Skumppa</div>
        <div class="timer-description-button animate-click" data-duration="7200">Magnum</div>
        <div class="timer-description-button animate-click" data-duration="2100">Siideri</div>
      </div>
    </div>
  </div>
</div>
