{% include "snippets/timed_lightcontrol.html" with time="morning" icons="<i class='fa fa-chevron-circle-up'></i><i class='fa fa-sun-o'></i>" %}

{% include "snippets/timed_lightcontrol.html" with time="evening" icons="<i class='fa fa-arrow-right'></i><i class='fa fa-bed'></i>" %}

{% include "snippets/timed_lightcontrol.html" with time="morning-weekend" icons="<i class='fa fa-chevron-circle-up'></i><i class='fa fa-sun-o'></i>" %}

{% include "snippets/timed_lightcontrol.html" with time="evening-weekend" icons="<i class='fa fa-arrow-right'></i><i class='fa fa-bed'></i>" %}
