<div class="row">
    {% include "snippets/timed_lightcontrol_compact.html" with action="morning" icon1="fa-chevron-circle-up" icon2="fa-sun-o" type="Arkiaamu" %}

    {% include "snippets/timed_lightcontrol_compact.html" with action="evening" icon1="fa-arrow-right" icon2="fa-bed" type="Arki-ilta" %}

    {% include "snippets/timed_lightcontrol_compact.html" with action="morning-weekend" icon1="fa-chevron-circle-up" icon2="fa-sun-o" type="Viikonloppuaamu" %}

    {% include "snippets/timed_lightcontrol_compact.html" with action="evening-weekend" icon1="fa-arrow-right" icon2="fa-bed" type="Viikonloppuilta" %}
</div>
