<link href="/homecontroller/static/css/bootstrap.min.css" rel="stylesheet">
<link href="/homecontroller/static/jquery-ui/jquery-ui.css" rel="stylesheet">
<link href="/homecontroller/static/css/font-awesome.min.css" rel="stylesheet">
<link href="/homecontroller/static/css/nv.d3.css" rel="stylesheet">
<link href="/homecontroller/static/css/shared.css" rel="stylesheet">

<link href="/homecontroller/static/css/server_power.css" rel="stylesheet">
<link href="/homecontroller/static/css/electricity.css" rel="stylesheet">
<link href="/homecontroller/static/css/lightcontrol.css" rel="stylesheet">
<link href="/homecontroller/static/css/internet_connection.css" rel="stylesheet">
<link href="/homecontroller/static/css/repeating_tasks.css" rel="stylesheet">
<link href="/homecontroller/static/css/timer.css" rel="stylesheet">
<link href="/homecontroller/static/css/weather.css" rel="stylesheet">
