<div class="close" style="font-size: 600%"><i class="fa fa-times-circle-o"></i></div>
<div class="confirm-dialog-box">
  <div>Merkkaa "<span class="task-title"></span>" valmiiksi?</div>
  <div>
    <div class="action-button animate-click yes">Kyllä</div> <div class="action-button animate-click cancel">Peruuta</div>
    <div class="action-button animate-click snooze" data-days="1"><i class="fa fa-bell-slash-o"></i> Huomenna</div> <div class="action-button animate-click snooze" data-days="3"><i class="fa fa-bell-slash-o"></i> Kolme päivää</div>
  </div>
</div>
