<span class="connected"><i class="fa fa-question-circle"></i></span>
<span class="signal-bars"><div class="signal-1"></div><div class="signal-2"></div><div class="signal-3"></div><div class="signal-4"></div><div class="signal-5"></div></span>
<span class="mode"></span>
<span class="ping-status"><i class="fa fa-question-circle"></i></span>
<span class="traffic-status">
  <span class="upload">
    <i class="fa fa-fw fa-upload"></i>
  </span>
  <span class="download">
    <i class="fa fa-fw fa-download"></i>
  </span>
</span>
