<script src="/homecontroller/static/js/jquery-1.11.2.js"></script>
<script src="/homecontroller/static/js/bootstrap.js"></script>
<script src="/homecontroller/static/jquery-ui/jquery-ui.js"></script>
<script src="/homecontroller/static/js/moment-with-locales.js"></script>
<script src="/homecontroller/static/js/ws4redis_v2.js"></script>

<script type="text/javascript">
  var websocket_root = "{{ WEBSOCKET_URI }}";
</script>

<script src="/homecontroller/static/js/ws_generic.js"></script> <!-- provides ws_generic object -->
<script src="/homecontroller/static/js/generic_refresh.js"></script> <!-- provides ge_refresh object -->

<script src="/homecontroller/static/js/main.js"></script>
<script src="/homecontroller/static/js/lightcontrol.js"></script>
