<script src="/homecontroller/static/js/reload.js"></script>
<script src="/homecontroller/static/js/shutdown.js"></script>
<script src="/homecontroller/static/js/timer.js"></script>
<script src="/homecontroller/static/js/custom_timers.js"></script>

<script src="/homecontroller/static/js/electricity.js"></script>
<script src="/homecontroller/static/js/internet_connection.js"></script>
<script src="/homecontroller/static/js/repeating_tasks.js"></script>
<script src="/homecontroller/static/js/indoor_quality.js"></script>
<script src="/homecontroller/static/js/server_power.js"></script>
<script src="/homecontroller/static/js/birthdays.js"></script>
<script src="/homecontroller/static/js/moment_auto_update.js"></script>
<script src="/homecontroller/static/js/lightcontrol_timed.js"></script>
<script src="/homecontroller/static/js/clock.js"></script>
