<div id="kettle">
  <div class="action-on action-button animate-click stripe-box" data-temperature="80">80<i class="fa fa-times disabled-mode"></i></div>
  <div class="action-on action-button animate-click stripe-box" data-temperature="100">100<i class="fa fa-times disabled-mode"></i></div>
  <div class="action-off action-button animate-click stripe-box"><i class="fa fa-stop-circle-o"></i></div>
  <div class="action-button stripe-box online-status" style="display:none;">
    <i class="waterlevel-content fa fa-battery-0"></i> <span class="temperature-content">?</span>C
  </div>
  <div class="action-button stripe-box offline-status">
    <i class="fa fa-plug"></i>
  </div>
</div>
