<div id="kettle" class="row control-kettle">
  <div class="control-kettle-button center-content col-md-3 stripe-box animate-click action-on" data-temperature="92"><p style="font-size: 300%">95</p><i class="fa fa-times disabled-mode"></i></div>
  <div class="control-kettle-button center-content col-md-3 stripe-box animate-click action-on" data-temperature="100"><p style="font-size: 300%">100</p><i class="fa fa-times disabled-mode"></i></div>
  <div class="control-kettle-button center-content col-md-2 stripe-box animate-click action-off"><p style="font-size: 300%"><i class="fa fa-stop-circle-o"></i></p></div>
  <div class="control-kettle-button center-content col-md-4 stripe-box online-status" style="display:none;">
    <p style="font-size: 200%"><i class="waterlevel-content fa fa-battery-0"></i> <span class="temperature-content">?</span>C</p>
  </div>
  <div class="control-kettle-button center-content col-md-4 stripe-box offline-status">
    <p style="font-size: 300%"><i class="fa fa-plug"></i></p>
  </div>
</div>
