<div id="kettle" class="item-box control-kettle">
  <div class="control-kettle-button center-content stripe-box action-button animate-click action-on" data-temperature="92">95</div>
  <div class="control-kettle-button center-content stripe-box action-button animate-click action-on" data-temperature="100">100</div>
  <div class="control-kettle-button center-content stripe-box action-button animate-click action-off"><i class="fa fa-stop-circle-o"></i></div>
  <div class="control-kettle-button center-content action-button stripe-box online-status" style="display:none;">
    <span class="waterlevel-content">?</span> <span class="temperature-content">?</span>C
  </div>
  <div class="control-kettle-button center-content action-button stripe-box offline-status" style="display:none;">
    <i class="fa fa-plug"></i>
  </div>
  <div class="control-kettle-button center-content action-button stripe-box unknown-status">
    <i class="fa fa-exclamation-triangle"></i>
  </div>
</div>
