<div class="row">
  <h2><span class="light-group-{{ group }}-name"></span> <small><span class="light-group-{{ group }}-brightness"></span> <span class="light-group-{{ group }}-color"></span> <span class="light-group-{{ group }}-on"></span></small></h2>
  <div>
    {% include "snippets/small_button.html" with group=group mode="off" text="Pois" icon="power-off" %}
    {% include "snippets/small_button.html" with group=group mode="on" text="Kirkkaaksi" icon="sun-o" %}
    {% include "snippets/small_button.html" with group=group mode="morning" text="Aamu" icon="moon-o" %}
    {% include "snippets/small_button.html" with group=group mode="night" text="Yö" icon="bed" %}
  </div>
  <div class="brightness-slider-container">
    <div class="brightness-slider brightness-slider-group-{{ group }}" data-id="{{ group }}"></div>
  </div>
</div>
