<div style="display:none;" class="content-box" id="indoor-quality-modal">
  {% include "snippets/indoor_quality_modal.html" %}
</div>
<div style="display:none;" class="content-box" id="internet-connection-modal">
  {% include "snippets/internet_connection_modal.html" %}
</div>
<div style="display:none" class="content-box" id="confirm-repeating-task">
  {% include "snippets/confirm_repeating_task_modal.html" %}
</div>
<div style="display:none" class="content-box" id="birthdays-list-all">
  {% include "snippets/birthdays_list_all_modal.html" %}
</div>
<div style="display:none" class="content-box" id="repeating-tasks-all">
  {% include "snippets/repeating_tasks_all_modal.html" %}
</div>
<div style="display:none" class="content-box" id="shutdown-progress">
  {% include "snippets/shutdown_progress_modal.html" %}
</div>
<div style="display:none" class="content-box" id="add-custom-timer">
  {% include "snippets/add_custom_timer.html" %}
</div>
<div style="display:none" class="content-box" id="lightcontrol-modal">
  {% include "snippets/lightcontrol_modal.html" %}
</div>
<div style="display:none; opacity: 1 !important;" class="content-box" id="electricity-modal">
  {% include "snippets/electricity_modal.html" %}
</div>
