<div style="display:none;" class="content-box" id="indoor-quality-modal">
  {% include "snippets/modals/indoor_quality_modal.html" %}
</div>
<div style="display:none;" class="content-box" id="internet-connection-modal">
  {% include "snippets/modals/internet_connection_modal.html" %}
</div>
<div style="display:none" class="content-box" id="confirm-repeating-task">
  {% include "snippets/modals/confirm_repeating_task_modal.html" %}
</div>
<div style="display:none" class="content-box" id="birthdays-list-all">
  {% include "snippets/modals/birthdays_list_all_modal.html" %}
</div>
<div style="display:none" class="content-box" id="repeating-tasks-all">
  {% include "snippets/modals/repeating_tasks_all_modal.html" %}
</div>
<div style="display:none" class="content-box" id="shutdown-progress">
  {% include "snippets/modals/shutdown_progress_modal.html" %}
</div>
<div style="display:none" class="content-box" id="add-custom-timer">
  {% include "snippets/modals/add_custom_timer.html" %}
</div>
<div style="display:none" class="content-box" id="lightcontrol-modal">
  {% include "snippets/modals/lightcontrol_modal.html" %}
</div>
<div style="display:none" class="content-box" id="weather-modal">
  {% include "snippets/modals/weather_modal.html" %}
</div>
<div style="display:none" class="content-box" id="print-modal">
  {% include "snippets/modals/print_modal.html" %}
</div>
<div style="display:none; opacity: 1 !important;" class="content-box" id="electricity-modal">
  {% include "snippets/modals/electricity_modal.html" %}
</div>
