<div class="server-power">
  <div style="display:none;" class="shutdown action-button animate-click stripe-box"><i class="fa fa-fw fa-server"></i>&nbsp;<i class="fa fa-fw fa-power-off"></i></div>
  <div style="display:none;" class="startup action-button animate-click stripe-box"><i class="fa fa-fw fa-server"></i>&nbsp;<i class="fa fa-fw fa-power-off"></i></div>
  <div style="display:none;" class="unknown action-button animate-click stripe-box"><i class="fa fa-fw fa-server"></i>&nbsp;<i class="fa fa-fw fa-question-circle"></i></div>
</div>
<div class="genelec-power">
  <div class="startup action-button animate-click stripe-box"><i class="fa fa-fw fa-bullhorn"></i>&nbsp;<i class="fa fa-fw fa-power-off"></i></div>
</div>
<div class="display-power">
  <div class="restart-browser action-button animate-click stripe-box"><i class="fa fa-fw fa-desktop"></i>&nbsp;<i class="fa fa-fw  fa-retweet"></i></div>
  <div class="shutdown-display action-button animate-click stripe-box"><i class="fa fa-fw fa-desktop"></i>&nbsp;<i class="fa fa-fw  fa-toggle-off"></i></div>
  <div class="startup-display action-button animate-click stripe-box"><i class="fa fa-fw fa-desktop"></i>&nbsp;<i class="fa fa-fw fa-toggle-on"></i></div>
</div>
