<div class="server-power">
  <div style="display:none;" class="shutdown action-button animate-click stripe-box"><i class="fa fa-server"></i>&nbsp;<i class="fa fa-power-off"></i></div>
  <div style="display:none;" class="startup action-button animate-click stripe-box"><i class="fa fa-server"></i>&nbsp;<i class="fa fa-power-off"></i></div>
  <div style="display:none;" class="unknown action-button animate-click stripe-box"><i class="fa fa-server"></i>&nbsp;<i class="fa fa-question-circle"></i></div>
</div>
<div class="genelec-power">
  <div class="startup action-button animate-click stripe-box"><i class="fa fa-bullhorn"></i>&nbsp;<i class="fa fa-power-off"></i></div>
</div>
