<div class="server-power">
  <div style="display:none;" class="shutdown action-button animate-click stripe-box">Verkkolevy <i class="fa fa-power-off"></i>&nbsp;</div>
  <div style="display:none;" class="startup action-button animate-click stripe-box">Verkkolevy <i class="fa fa-power-off"></i>&nbsp;</div>
  <div style="display:none;" class="unknown action-button animate-click stripe-box">Verkkolevy <i class="fa fa-question-circle"></i>&nbsp;</div>
</div>
<div class="genelec-power">
  <div class="startup action-button animate-click stripe-box">Genelecit <i class="fa fa-power-off"></i>&nbsp;</div>
</div>
