<!-- {{ time }} -->
<div class="timed-lightcontrol timed-lightcontrol-{{ time }} item-box dark-box" data-action="{{ time }}">
  <div class="row">
    <div class="col-md-12">
      <div class="animation-direction">
        <span class="animate-click">
<!--          <span class="fa-stack"><i style="opacity:0.5" class="fa fa-stack-1x {{ icon1 }}"></i><i class="fa fa-stack-1x {{ icon2 }}"></i></span> -->
          <i class="fa {{ icon1 }}"></i><i class="fa {{ icon2 }}"></i>
        </span>
      </div>
      <div style="float:right" class="center-content">
        <span class="duration-content">+-:--</span>
        <div class="time-control duration-time"><div class="minus action-button animate-click"><i class="fa fa-minus"></i></div><div class="plus action-button animate-click"><i class="fa fa-plus"></i></div></div>
      </div>
      <div style="float:right" class="center-content">
        <span class="start-time-content">--:--</span>
        <div class="time-control start-time"><div class="minus action-button animate-click"><i class="fa fa-minus"></i></div><div class="plus action-button animate-click"><i class="fa fa-plus"></i></div></div>
      </div>
      <div class="play-control">
        <span class="animate-click">
          <i class="fa-fw fa fa-toggle-on"></i>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span class="timed-type">{{ type }}</span> <span class="time-left"></span>
    </div>
  </div>
</div>
