.transportation {
  margin-left: 20px;

  .departures .first-departure {
    font-size: 250%;
  }

  .line-number {
    font-size: 250%;
  }

  .type-bus {
    color: #4097F5;
  }

  .type-tram {
    color: #09992D;
  }

  .type-train {
    color: #E61919;
  }

  .type-metro {
    color: #F78605;
  }
}
