.transportation {
  margin-left: 20px;

  .departures .first-departure {
    font-size: 250%;
  }

  .line-number {
    font-size: 250%;
  }

  .type-bus {
    color: #007AC9;
  }

  .type-tram {
    color: #00985F;
  }

  .type-train {
    color: #8C4799;
  }

  .type-metro {
    color: #FF6319;
  }
}
