.internet-connection {
  .age {
    font-size: 50%;
  }

  .signal-bars {
    background-color: black;
    margin: 0px;
    padding: 0px;
    display: inline-block;

    div {
      background-color: gray;
      display:inline-block;
      font-size: 70%;
      width: 7px;
      margin-bottom: 0px;
      margin-top: 5px;
      margin-left: 0px;
      margin-right: 1px;
      padding: 0px;
    }

    .active {
      background-color: #07CF00;
    }
    .inactive {
      background-color: gray;
    }

    .signal-1 {
      height: 5px;
    }
    .signal-2 {
      height: 12px;
    }
    .signal-3 {
      height: 19px;
    }
    .signal-4 {
      height: 27px;
    }
    .signal-5 {
      height: 35px;
    }
  }


}
