#wifi-settings {
  .wifi-info {
    margin-bottom: 5em;

    .ssid,
    .passphrase {
      font-family: "Courier New";
      font-size: 2.5em;
    }
  }

  #wifi-clients {
    font-size: 1.5em;

    .wifi-client {
      margin-bottom: 20px;
    }

    .mac {
      display: inline-block;
      font-family: "Courier New";
      margin-left: 10px;
      min-width: 14em;
    }

    .last-seen {
      display: inline-block;
      min-width: 3.5em;
    }

    .rssi-container {
      display: inline-block;
      min-width: 10.5em;
    }
  }

  .center-container {
    margin-left: auto;
    margin-right: auto;
    width: 620px;
  }
}

.internet-connection {
  .age {
    font-size: 50%;
  }

  .ping {
    min-width: 105px;
    display: inline-block;
  }

  .speed {

    i {
      font-size: 75%;
    }

    .value {

    }

    .unit {
      font-size: 75%;
    }
  }

  .signal-bars {
    background-color: black;
    display: inline-block;
    margin: 0px;
    padding: 0px;

    div {
      background-color: gray;
      display: inline-block;
      font-size: 70%;
      margin-bottom: 0px;
      margin-left: 0px;
      margin-right: 1px;
      margin-top: 5px;
      padding: 0px;
      width: 7px;
    }

    .active {
      background-color: #07CF00;
    }

    .inactive {
      background-color: gray;
    }

    .signal-1 {
      height: 5px;
    }

    .signal-2 {
      height: 12px;
    }

    .signal-3 {
      height: 19px;
    }

    .signal-4 {
      height: 27px;
    }

    .signal-5 {
      height: 35px;
    }
  }
}
