#wifi-settings {
  .wifi-info {
    margin-bottom: 5em;
    .ssid, .passphrase {
      font-family: Courier New;
      font-size: 2.5em;
    }
  }

  #wifi-clients {
    font-size: 1.5em;

    .wifi-client {
      margin-bottom: 20px;
    }

    .mac {
      font-family: Courier New;
      margin-left: 10px;
      min-width: 14em;
      display: inline-block
    }
    .last-seen {
      display: inline-block;
      min-width: 3.5em;
    }
    .rssi-container {
      display: inline-block;
      min-width: 10.5em;
    }
  }

  .center-container {
    width: 620px;
    margin-left: auto;
    margin-right: auto;
  }
}

.internet-connection {
  .age {
    font-size: 50%;
  }

  .ping {
    min-width: 135px;
    display: inline-block;
  }

  .speed span {
    min-width: 33px;
    display: inline-block;
    text-align: center;
  }

  .signal-bars {
    background-color: black;
    margin: 0px;
    padding: 0px;
    display: inline-block;

    div {
      background-color: gray;
      display:inline-block;
      font-size: 70%;
      width: 7px;
      margin-bottom: 0px;
      margin-top: 5px;
      margin-left: 0px;
      margin-right: 1px;
      padding: 0px;
    }

    .active {
      background-color: #07CF00;
    }
    .inactive {
      background-color: gray;
    }

    .signal-1 {
      height: 5px;
    }
    .signal-2 {
      height: 12px;
    }
    .signal-3 {
      height: 19px;
    }
    .signal-4 {
      height: 27px;
    }
    .signal-5 {
      height: 35px;
    }
  }
}
