#print-modal {
  .clock {
    font-size: 400%;
    margin-right: 40px;
  }

  .calendar {
    font-size: 200%;
  }

  .modal-timeinfo {
    margin-bottom: 30px;
  }

  .printer-status {
    font-size: 2em;
  }

  .printer-jobs {
    font-size: 2em;
  }
}
