.indoor-quality .age {
  font-size: 50%;
}

.air-quality-graph-content {
  .graph svg {
    height: 200px;
  }

  .graph .data-error {
    display: none;
    font-size: 100px;
    height: 200px;
  }

  .graph .spinner {
    display: none;
    font-size: 180px;
    height: 200px;
  }
}
