#electricity-modal {
  .bar {
    fill: gray;
  }
  .bar:hover {
    fill: brown;
  }

  .axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .x.axis path {
    display: none;
  }
  .bargraph {
    margin-left: -21px;
  }

  .days-hours-heatmap {

    padding: 20px 0 20px 0;
    width: 1600px;
    margin: 0 auto;
    .calibration {
      margin-bottom: 15px;
      width: 400px;
      .group {
        display: inline-block;
      }
      .description {
        width:168px;
      }
    }
    .calibration .description>label:last-child {
      float:right;
    }
    .calibration>.display-control {
      float:right;
    }
    .calibration>.display-control label {
      vertical-align: top;
    }
    .calibration>.display-control input[type='radio'] {
      cursor: pointer;
    }

    .heatmap .axis {
      path {
        display: none;
      }
      line{
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
      }
      text{
        font-size: 12px;
      }

    }

  }
}
