#electricity-modal {
  opacity: 1 !important;

  .bar {
    fill: gray;
  }

  .bar:hover {
    fill: brown;
  }

  .axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke: #000;
  }

  .x.axis path {
    display: none;
  }

  .bargraph {
    margin-left: -21px;
  }

  .days-hours-heatmap {

    margin: 0 auto;
    padding: 20px 0;
    width: 1600px;

    .calibration {
      margin-bottom: 15px;
      width: 400px;

      .group {
        display: inline-block;
      }

      .description {
        width: 168px;
      }

      .description>label:last-child {
        float: right;
      }
    }

    .calibration>.display-control {
      float: right;

      label {
        vertical-align: top;
      }

      input[type='radio'] {
        cursor: pointer;
      }
    }

    .heatmap .axis {
      path {
        display: none;
      }

      line {
        fill: none;
        shape-rendering: crispEdges;
        stroke: #000;
      }

      text {
        font-size: 12px;
      }
    }
  }
}
