.air-quality-graph-content {
  .graph svg {
    height: 200px;
  }

  .graph .data-error {
    font-size: 100px;
    height: 200px;
    display: none;
  }

  .graph .spinner {
    font-size: 180px;
    height: 200px;
    display: none;
  }
}
