.add-timer-button {
  height: 100px;
  text-align: center;
  padding-top: 30px;
  font-size: 200%;
  width: 20% !important;
  float: left;
  position: relative;
}

.timer-description-button {
  display: inline-block;
  margin: 15px;
  padding: 15px;
}

.timer-description-button:nth-child(even) {
  background-color: #111;
}
.timer-description-button:nth-child(odd) {
  background-color: #222;
}

#custom-timer-duration {
  font-size: 600%;
  padding-left: 30px;
}

.progress-bar-danger {
  background-color: red;
}

.timer-overtime {
  color: red !important;
}

.timer-stop {
  background-color: #181818;
}

.timer-refresh {
  background-color: #282828;
}
.progress {
  background-color: #737373;
}

.progress-bar-black {
  background-color: black;
}

.timer-item:nth-child(even) {
  background-color: #222;
}
.timer-item:nth-child(odd) {
  background-color: #111;
}

.timer-striping:nth-child(even) {
  background-color: #111;
}
.timer-striping:nth-child(odd) {
  background-color: #222;
}

.timer-item {
  margin-top: 15px;
  margin-left: -15px;
  margin-right: -15px;
}

.timer-item-odd {
  background-color: #333;
}

.timer-item-even {
  background-color: #222;
}
.add-timers div {
  height: 100px;
  padding-top: 5px;
}

.stopclock {
  font-size: 300%;
}

.add-timers div p {
  margin-top:15px;
}

#timers {
  font-size: 150%;
  margin-top: 10px;
}

.timer-control {
  font-size: 300%;
  height: 100%;
  text-align: center;
}

.timer-info {
  font-size: 150%;
}
