{% extends "snippets/modal_base.html" %}

{% block modal-content %}
<div class="col-md-3">
</div>
<div class="col-md-6">
  <div class="confirm-dialog-box">
    <div>Merkkaa "<span class="task-title"></span>" valmiiksi?</div>
    <div>
      <div class="action-button animate-click yes">Kyllä</div> <div class="action-button animate-click cancel">Peruuta</div>
      <div class="action-button animate-click snooze" data-days="1"><i class="fa fa-bell-slash-o"></i> Huomenna</div> <div class="action-button animate-click snooze" data-days="3"><i class="fa fa-bell-slash-o"></i> Kolme päivää</div>
      <div class="action-button animate-click snooze snooze-immediately" data-days=""><i class="fa fa-bell-slash-o"></i> Näytä heti</div>
    </div>

    <div class="task-history">
      <ul>
      </ul>
    </div>
  </div>
</div>
<div class="col-md-3">
</div>
{% endblock %}
