<div class="custom-container">
  <div class="close" style="font-size: 600%"><i class="fa fa-times-circle-o"></i></div>
  <div class="days-hours-heatmap">
    <!-- calibration and render type controller -->
    <div class="calibration" role="calibration">
      <div class="group" role="example">
        <svg width="120" height="17">
        </svg>
        <div role="description" class="description">
          <label>Less</label>
          <label>More</label>
        </div>
      </div>
      <div role="toggleDisplay" class="display-control">
        <div>
          <input type="radio" name="displayType" checked/>
          <label>count</label>
        </div>
        <div>
          <input type="radio" name="displayType"/>
          <label>daily</label>
        </div>
      </div>
    </div>
    <!-- heatmap -->
    <svg role="heatmap" class="heatmap"></svg>
  </div>
</div>
