<div class="close" style="font-size: 600%;"><i class="fa fa-times-circle-o"></i></div>
<h3>Hiilidioksidi (<span class="latest-indoor-co2"></span>ppm)</h3>
<div id="indoor-air-quality-co2-graph">
  <svg style='height:350px'> </svg>
  <div style="display:none" class="data-error error-message"><i class="fa fa-times"></i> Ei tietoja</div>
</div>
<h3>Lämpötila (<span class="latest-indoor-temperature"></span>&deg;C)</h3>
<div id="indoor-air-quality-temperature-graph">
  <svg style='height:350px'> </svg>
  <div style="display:none" class="data-error error-message"><i class="fa fa-times"></i> Ei tietoja</div>
</div>
