<div class="custom-container">
  <div class="close" style="font-size: 600%"><i class="fa fa-times-circle-o"></i></div>
  <div class="row">
    <h3>Tatami</h3>
    <div>
      {% include "snippets/small_button.html" with group=1 mode="off" text="Pois" icon="power-off" %}
      {% include "snippets/small_button.html" with group=1 mode="on" text="Kirkkaaksi" icon="sun-o" %}
      {% include "snippets/small_button.html" with group=1 mode="morning" text="Aamu" icon="moon-o" %}
      {% include "snippets/small_button.html" with group=1 mode="night" text="Yö" icon="bed" %}
    </div>
  </div>
  <div class="row">
    <h3>Pöytä</h3>
    <div>
      {% include "snippets/small_button.html" with group=2 mode="off" text="Pois" icon="power-off" %}
      {% include "snippets/small_button.html" with group=2 mode="on" text="Kirkkaaksi" icon="sun-o" %}
      {% include "snippets/small_button.html" with group=2 mode="morning" text="Aamu" icon="moon-o" %}
      {% include "snippets/small_button.html" with group=2 mode="night" text="Yö" icon="bed" %}
    </div>
  </div>
  <div class="row">
    <h3>Keittiö</h3>
    <div>
      {% include "snippets/small_button.html" with group=3 mode="off" text="Pois" icon="power-off" %}
      {% include "snippets/small_button.html" with group=3 mode="on" text="Kirkkaaksi" icon="sun-o" %}
      {% include "snippets/small_button.html" with group=3 mode="morning" text="Aamu" icon="moon-o" %}
      {% include "snippets/small_button.html" with group=3 mode="night" text="Yö" icon="bed" %}
    </div>
  </div>
  <div class="row">
    <h3>Eteinen</h3>
    <div>
      {% include "snippets/small_button.html" with group=4 mode="off" text="Pois" icon="power-off" %}
      {% include "snippets/small_button.html" with group=4 mode="on" text="Kirkkaaksi" icon="sun-o" %}
      {% include "snippets/small_button.html" with group=4 mode="morning" text="Aamu" icon="moon-o" %}
      {% include "snippets/small_button.html" with group=4 mode="night" text="Yö" icon="bed" %}
    </div>
  </div>
</div>
