{% extends "snippets/modal_base.html" %}

{% block modal-content %}
<div class="col-md-12">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Nimi</th>
        <th>Koko</th>
        <th>Ladattu</th>
        <th>Latausnopeus</th>
        <th>ETA</th>
        <th>Kopioitu verkkolevylle</th>
        <th></th>
      </tr>
    </thead>
    <tbody id="torrent-items">
      <tr>
        <td colspan="7" class="center-content"><i class="fa fa-spin fa-spinner"></i></td>
      </tr>
    </tbody>
  </table>
</div>

{% endblock %}
