{% extends "snippets/modal_base.html" %}

{% block modal-content %}
<div class="col-md-6">
  <div class="printer printer-labels">
  </div>
</div>
<div class="col-md-6">
  <div class="printer-status">
    <span class="spinner"><i class="fa fa-spin fa-spinner"></i></span>
    <span class="printer-status-content"></span>
  </div>
  <div class="printer-jobs">
    <span class="spinner"><i class="fa fa-spin fa-spinner"></i></span>
    <span class="printer-jobs-content"><span>
      <h2>Työt</h2>
      <ul class="printer-jobs-list fa-ul">
      </ul>
    </span>
  </div>
</div>
{% endblock %}
