<div class="custom-container">
  <div class="close" style="font-size: 600%"><i class="fa fa-times-circle-o"></i></div>
  <div class="row modal-timeinfo">
    <span class="clock"></span> <span class="calendar"></span>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="printer">
        <div class="center-content stripe-box animate-click action-button">Päiväys</div>
        <div class="center-content stripe-box animate-click action-button">Päiväys ja kellonaika</div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="printer-status">
        <span class="spinner"><i class="fa fa-spin fa-spinner"></i></span>
        <span class="printer-status-content"></span>
      </div>
      <div class="printer-jobs">
        <span class="spinner"><i class="fa fa-spin fa-spinner"></i></span>
        <span class="printer-jobs-content"><span>
          <h2>Työt</h2>
          <ul class="printer-jobs-list fa-ul">
          </ul>
        </span>
      </div>
    </div>
  </div>
</div>
