{% extends "snippets/modal_base.html" %}

{% block modal-content %}

<h2>Nyt</h2>


<div class="weather">
  <div class="now">
    <div class="row">
      <div class="col-md-2 center-content">
        <span class="description-now"></span><br>
        <span class="temperature-now"></span><br>
        <span class="wind-now"></span>
        <span class="wind-direction-now"></span>
      </div>

      <div class="col-md-6 multi-field">
        <span class="rainfall-now"></span>
        <span class="humidity-now"></span>
        <span class="dewpoint-now"></span>
        <span class="real-temperature-now"></span>
        <span class="visibility-now"></span>
        <span class="sunrise"></span>
        <span class="sunset"></span>
      </div>
      <div class="col-md-4 multi-field marine-now">
        <i class="fa fa-ship"></i>
        <span class="marine-wind-now"></span>
        <span class="marine-wind-direction-now"></span>
      </div>
    </div>
  </div>
</div>

<div class="weather-all">
</div>
{% endblock %}
