{% extends "snippets/modal_base.html" %}

{% block modal-content %}

<h2>Nyt</h2>


<div class="weather">
  <div class="now">
    <div class="row">
      <div class="col-md-1 center-content">
        <span class="temperature"><i class="fa fa-question-circle"></i></span><span class="temperature-unit">&deg;C</span><span class="symbol"><i class="fa fa-question-circle"></i></span><br>
        <span class="wind-direction"></span><span> </span>
        <span class="wind-speed"><i class="fa fa-question-circle"></i></span><span class="wind-speed-unit">m/s</span>
        <span class="wind-now"></span>
      </div>

      <div class="col-md-2">
        <div class="sun-info"></div>
      </div>

      <div class="col-md-9 multi-field">
        <span class="ppcp-now"></span>
        <span class="humidity-now"></span>
        <span class="dewpoint-now"></span>
        <span class="feelslike-now"></span>
        <span class="real-temperature-now"></span>
        <span class="uv-now"></span>
      </div>
    </div>
  </div>
</div>

<div class="weather-all">
</div>
{% endblock %}
