<div class="row">
  <div class="col-md-6">
    {% for k,v in graphs.items %}
    {% if forloop.counter|divisibleby:2 %}
    <div class="indoor-air-{{ k }}">
      <h3>{{ v }} (<span class="latest"><i class="fa fa-spinner fa-pulse"></i></span>)</h3>
      <div class="graph">
        <svg style='height:200px'> </svg>
        <div style="display:none;height:200px" class="center-content data-error error-message"><i class="fa fa-times"></i> Ei tietoja</div>
        <div style="display:none:height:200px" class="center-content spinner"><i class="fa fa-spinner fa-pulse"></i></div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
  <div class="col-md-6">
    {% for k,v in graphs.items %}
    {% if not forloop.counter|divisibleby:2 %}
    <div class="indoor-air-{{ k }}">
      <h3>{{ v }} (<span class="latest"><i class="fa fa-spinner fa-pulse"></i></span>)</h3>
      <div class="graph">
        <svg style='height:200px'> </svg>
        <div style="display:none; height:200px" class="center-content data-error error-message"><i class="fa fa-times"></i> Ei tietoja</div>
        <div style="display:none; height:200px" class="center-content spinner"><i class="fa fa-spinner fa-pulse"></i></div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</div>
