{% extends "snippets/dialog_base.html" %}

{% block modal-content %}
<div class="col-md-5">
  <div class="row">
    <div class="col-md-2 add-timer-button animate-click" data-content="clear-h">
      h
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="+1h">
      +1
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="+3h">
      +3
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="+8h">
      +8
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="+24h">
      +24
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 add-timer-button animate-click">
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="-1h">
      -1
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="-3h">
      -3
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="-8h">
      -8
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="-24h">
      -24
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2 add-timer-button animate-click" data-content="clear-m">
      min
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="+1m">
      +1
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="+3m">
      +3
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="+5m">
      +5
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="+15m">
      +15
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 add-timer-button animate-click">
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="-1m">
      -1
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="-3m">
      -3
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="-5m">
      -5
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="-15m">
      -15
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-2 add-timer-button animate-click" data-content="clear-s">
      s
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="+5s">
      +5
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="+10s">
      +10
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="+15s">
      +15
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 add-timer-button animate-click">
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="-5s">
      -5
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="-10s">
      -10
    </div>
    <div class="col-md-2 add-timer-button animate-click" data-content="-15s">
      -15
    </div>
  </div>
</div>
<div class="col-md-7">
  <div class="row">
    <div class="col-md-12">
      <div id="custom-timer-duration" data-content="0000000">000:00:00</div>
    </div>
  </div>
  <div class="row" style="min-height: 70px">
    <div class="col-md-12 custom-timer-labels">
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12 timed-custom-timer-labels">
    </div>
  </div>
</div>
{% endblock %}
