{% extends "snippets/dialog_base.html" %}

{% block modal-content %}
    <div class="col-md-6">
      {% include "snippets/lightcontrol-per-group-row.html" with group="1" %}
      {% include "snippets/lightcontrol-per-group-row.html" with group="2" %}
      {% include "snippets/lightcontrol-per-group-row.html" with group="3" %}
      {% include "snippets/lightcontrol-per-group-row.html" with group="4" %}
    </div>
    <div class="col-md-6">
      <h3>Arki</h3>
      {% include "snippets/timed_lightcontrol.html" with action="morning" icon1="fa-chevron-circle-up" icon2="fa-sun-o" type="Aamu" %}

      {% include "snippets/timed_lightcontrol.html" with action="evening" icon1="fa-arrow-right" icon2="fa-bed" type="Ilta" %}


      <h3>Viikonloppu</h3>
      {% include "snippets/timed_lightcontrol.html" with action="morning-weekend" icon1="fa-chevron-circle-up" icon2="fa-sun-o" type="Aamu" %}

      {% include "snippets/timed_lightcontrol.html" with action="evening-weekend" icon1="fa-arrow-right" icon2="fa-bed" type="Ilta" %}
    </div>
{% endblock %}
