.lightcontrol-btn {
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;
}
.lightcontrol-btn-large {
  height: 130px;
  font-size: 400%;
  min-width: 130px;
}
.lightcontrol-btn-small {
  width: 130px;
  height: 80px;
  font-size: 200%;
}
.lights-off {
  background-color: #111111;
}
.lights-on {
  background-color: #006600;
  color: #E6FFD7;
}
.lights-morning {
  background-color: #222222;
}
.lights-night {
  background-color: #cc0000;
  color: #ffeded;
}
