.timed-lightcontrol {
  font-size: 200%;
}
.timed-lightcontrol .animation-direction {
  font-size: 100%;
  display: inline;
}
.timed-lightcontrol .play-control {
  font-size: 200%;
  display: inline-block;
  float: right;
}
.timed-lightcontrol .time-control {
}

.timed-lightcontrol .action-button {
  margin-top: 5px;
  padding-top: 5px;
  margin-bottom: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-left: 0px;
  margin-right: 0px;
}

.timed-lightcontrol .time-left {
  font-size: 50%;
}

.timed-lightcontrol .time-control .plus {
  background-color: green;
}
.timed-lightcontrol .time-control .minus {
  background-color: red;
}

.timed-lightcontrol .fading-progress {
  padding-top: 10px;
}

.lightcontrol-btn {
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;
}
.lightcontrol-btn-large {
  height: 130px;
  font-size: 400%;
  min-width: 130px;
}
.lightcontrol-btn-small {
  width: 130px;
  height: 80px;
  font-size: 200%;
}
.lights-off {
  background-color: #111111;
}
.lights-on {
  background-color: #006600;
  color: #E6FFD7;
}
.lights-morning {
  background-color: #222222;
}
.lights-night {
  background-color: #cc0000;
  color: #ffeded;
}
