.lightcontrol-btn {
  margin-left: 1px;
  margin-right: 1px;
  text-align: center;
}
.lightcontrol-btn-large {
  height: 110px;
  font-size: 300%;
  min-width: 110px;
}

.lightcontrol-btn-small {
  width: 130px;
  height: 80px;
  font-size: 200%;

}

.lightcontrol-headers td {
  font-size: 165%;
}

.lights-off {
  background-color: #111111;
}
.lights-on {
  background-color: #006600;
  color: #E6FFD7;
}
.lights-morning {
  background-color: #222222;
}
.lights-night {
  background-color: #cc0000;
  color: #ffeded;
}
