.lightcontrol-btn {
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 60px;
    background: #353a3d;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
}

.lightcontrol-btn-mini {
    -webkit-border-radius: 12;
    -moz-border-radius: 12;
    border-radius: 12px;
    font-family: Georgia;
    color: #ffffff;
    font-size: 25px;
    background: #353a3d;
    padding: 10px 20px 10px 20px;
    border: solid #000000 2px;
    text-decoration: none;
}

.lightcontrol-btn:hover {
    text-decoration: none;
}

.lightcontrol-btn-mini:hover {
    text-decoration: none;
}
