.custom-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#clock {
  font-size: 790%;
  font-weight: bold;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
  color: #cccccc;
  font-size: 175%;
}

#calendar {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 457%;
}

.center-content {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}
a.list-group-item {
  background-color: #121212;
  color: #ccc;
}

.light-box {
  background-color: #111;
}

.dark-box {
  background-color: #222;
}

.item-box {
  background-color: #
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stripe-box:nth-child(even) {
  background-color: #111;
}
.stripe-box:nth-child(odd) {
  background-color: #222;
}

.action-button {
  padding: 15px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
  font-size: 120%;
  background-color:
}

.lightcontrol-btn {
  margin-left: 1px;
  margin-right: 1px;
  width: 130px;
  height: 130px;
  text-align: center;
  font-size: 300%;
}

.lightcontrol-headers td {
  font-size: 165%;
}

.weather-info {
  font-size: 100%;
}

.weather-info .col-md-4 {
  font-size: 130%;
}

.repeating-tasks {
  margin-top: 20px;
}

.birthdays {
  margin-top: 20px;
}


.lights-off {
  background-color: #111111;
}
.lights-on {
  background-color: #006600;
  color: #E6FFD7;
}
.lights-morning {
  background-color: #222222;
}
.lights-night {
  background-color: #cc0000;
  color: #ffeded;
}
