body {
  padding-top: 60px;
}

.content-box {
  padding-top: 60px !important;
}

.lightcontrol-btn-large {
  font-size: 200% !important;
  height: 90px !important;
}

.lightcontrol-btn-small {
  font-size: 2em !important;
  height: 70px !important;
}

.internet-connection {
  font-size: 180%;
  margin-top: 20px;
}

.indoor-quality {
  font-size: 180%;
  margin-top: 20px;
}

.server-power {
  font-size: 150%;
  margin-top: 20px;
}

.genelec-power {
  font-size: 150%;
}

.display-power {
  font-size: 150%;
}

#birthdays-list-all .calendar {
  font-size: 300%;
}

#lightcontrol-modal {
  .clock {
    font-size: 300%;
    padding-right: 10px;
  }

  .calendar {
    font-size: 200%;
  }
}
