body {
  overflow-x: hidden;
  overflow-y: hidden;

  color: #bbb;
  background-color: black;
}

#disconnected {
  opacity: 0.5;
  i {
    font-size: 600px;
  }
  z-index: 10;
}

.error-message {
  color: #E85656;
}

#screensaver {
  position: fixed;
  top: 0px;
  left: 0px;

  display: block;

  width: 100%;
  height: 100%;

  background-color: black;

  .clock-minutes, .clock-hours {
    font-size: 300px;
    color: #313131;
  }
}

.light-controls {
  font-size: 900%;
}

.center-content {
  margin-right:auto;
  margin-left:auto;

  text-align: center;
}

.timeinfo {
  .clock {
    font-size: 400%;
    font-weight: bold;
  }

  .calendar {
    padding-top: 0.25em;
    padding-bottom: 0.25em;

    font-size: 450%;
  }

}

#weather-general {
  float: left;
  text-align: center;
  font-size: 550%;
  img {
    width: 80px;
    height: 80px;
  }
}

#time-info {
  height: 300px;
  padding-top: 25px;

  background-color: #131313;
}

#lights-off {
  background-color: #111111;
}

#lights-full {
  color: #E6FFD7;
  background-color: #006600;
}

#lights-morning {
  background-color: #222222;
}

#lights-night {
  color: #ffeded;
  background-color: #cc0000;
}

.action-button {
  display: inline-block;

  margin-top: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
  margin-left: 15px;
  padding: 15px;
}

.light-box {
  background-color: #111;
}

.dark-box {
  background-color: #0d0d0d;
}

.cancel {
  background-color: #cc0000;

}

.item-box {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
}

.col-md-6 {
  position: relative;

  float: left;

  width: 50% !important;
  min-height: 1px;
  padding-right: 40px;
  padding-left: 40px;
}

.light-controls div {
  height: 330px;
  padding-top: 60px;
}

.door-shutdown-options {
  position: fixed;
  top: 300px;
  left: 0px;

  display: none;

  width: 100%;
  height: 660px;

  opacity: 0.95;
  background-color: black;

  font-size: 200%;
}

.content-box {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 2000px;
  padding-left: 40px;
  padding-right: 40px;
  background-color: black;
  opacity: 0.92;
  display: none;

  .close {
    z-index: 10;
  }
}
