.transportation ul div {
  display: inline;
}

.weather-main {
  margin-bottom: 20px;
  margin-left: 20px;
}

.last-column {
  padding-left: 25px !important;
}

.weather {

  .now {
    .multi-field > span {
      padding-right: 30px;
    }

    .type {
      font-size: 120%;
    }
    .value {
      font-size: 150%;
    }
  }

  .weather-main {
    .temperature-now {
      font-size: 5em;
    }

    .temperature-now-unit {
      font-size: 2.5em;
    }

    .wind-direction-now {
      font-size: 3em;
    }

    .wind-now-description {
      font-size: 2.5em;
      margin-left: 1em;
    }

    .wind-now {
      font-size: 3em;
    }
  }
  .timestamp {
    font-size: 1.5em;
  }

  .temperature {
    font-size: 1.25em;
  }

  .weather-box {
    min-height: 83px;
  }
}

.main-button-box {
  font-size: 200%;
}

#main-content {
  .center-column {
    background-color: #070707;
    height: 1080px; // TODO
  }

  .timeinfo {
    .clock {
      font-size: 790%;
      font-weight: bold;
    }

    .calendar {
      font-size: 457%;
    }
  }
}

.indoor-quality {
  font-size: 200%;

  .status {
    font-size: 200%;
  }
}

.internet-connection {
  font-size: 200%;

  .connected {
    font-size: 200%;
  }
}

body {
  font-size: 175%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#modals {
  .calendar {
    font-size: 200%;
  }

  .clock {
    font-size: 300%;
    padding-right: 15px;
  }
}

.action-button {
  font-size: 120%;
}
