body {
  background-color: black;
  color: #bbb;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 5px;
}

.light-controls {
  font-size: 700%;
  padding-top: 60px;
}

.center-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.timeinfo {
  .clock {
    font-size: 860%;
    font-weight: bold;
  }

  .calendar {
    font-size: 450%;
    padding-bottom: .25em;
    padding-top: .25em;
  }
}


#time-info {
  background-color: #131313;
  margin-top: 15px;
}

#lights-off {
  background-color: #111111;
}

#lights-full {
  background-color: #006600;
  color: #E6FFD7;
}

#lights-morning {
  background-color: #222222;
}

#lights-night {
  background-color: #cc0000;
  color: #ffeded;
}

.col-md-6 {
  float: left;
  min-height: 1px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  width: 50% !important;
}

#ext-content-frame {
  .modal-header-row {
    padding-top: 10px;
  }

  .close {
    font-size: 500%;
    top: 5px;
  }

  .clock {
    font-size: 200%;
    padding-right: 20px;
  }

  .calendar {
    font-size: 150%;
  }

  iframe {
    height: 660px;
    margin-top: 30px;
    width: 100%;
  }

  .before {
    margin-left: 30px;
    margin-right: 10px;
  }

  .navigation {
    font-size: 200%;
    padding-top: 5px;
  }
}

#main-open-ext-content-frame {
  bottom: 10px;
  position: absolute;
  right: 10px;

  i {
    font-size: 50px;
  }
}

.brightness-slider-container {

  .ui-widget-content {
    background: white 50% top repeat-x;
  }

  .brightness-slider {
    background: #f6f6f6;
    border: 1px solid #cccccc;
    height: 30px;
    margin-bottom: 25px;
    margin-left: 30px;
    margin-top: 60px;

    .ui-slider-handle {
      height: 90px;
      margin-left: -.3em;
      width: 45px;
      z-index: 0;
    }

    .ui-slider {
      z-index: 0;
    }

    .ui-slider-range {
      z-index: 0;
    }

    .ui-widget-header {
      background: gray;
    }

    .ui-state-hover,
    .ui-state-focus {
      background: #f6f6f6 url('images/ui-bg_glass_100_f6f6f6_1x400.png') 50% 50% repeat-x;
      border-radius: 0 !important;
      border: 1px solid #cccccc;
    }
  }

  .ui-corner-all {
    border-radius: 0 !important;
  }
}
