body {
  background-color: black;
  color: #bbb;
  overflow-x: hidden;
  overflow-y: hidden;
}

#disconnected {
  opacity: .5;
  z-index: 10;

  i {
    font-size: 600px;
  }
}

.error-message {
  color: #E85656;
}

#screensaver {
  background-color: black;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  .clock-minutes,
  .clock-hours {
    color: #313131;
    font-size: 300px;
  }
}

.transportation {
  div {
    height: 200px;
    overflow-y: hidden;
    padding-left: 25px;
    padding-top: 20px;
  }

  ul div {
    display: inline;
  }

  .departures .first-departure {
    font-size: 150%;
  }

  .line-number {
    font-size: 150%;
  }
}

.light-controls {
  font-size: 900%;

  div {
    height: 250px;
    padding-top: 35px;
  }
}

.center-content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.timeinfo {
  .clock {
    font-size: 400%;
    font-weight: bold;
  }

  .calendar {
    font-size: 350%;
    padding-bottom: .25em;
    padding-top: .25em;
  }
}

#weather-general {
  float: left;
  font-size: 550%;
  text-align: center;

  img {
    height: 80px;
    width: 80px;
  }
}

#time-info {
  background-color: #131313;
  height: 250px;
  padding-top: 25px;
}

#lights-off {
  background-color: #111111;
}

#lights-full {
  background-color: #006600;
  color: #E6FFD7;
}

#lights-morning {
  background-color: #222222;
}

#lights-night {
  background-color: #cc0000;
  color: #ffeded;
}

.action-button {
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  padding: 15px;
}

.light-box {
  background-color: #111;
}

.dark-box {
  background-color: #0d0d0d;
}

.cancel {
  background-color: #cc0000;
}

.item-box {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 20px;
}

.col-md-6 {
  float: left;
  min-height: 1px;
  padding-left: 40px;
  padding-right: 40px;
  position: relative;
  width: 50% !important;
}

.door-shutdown-options {
  background-color: black;
  display: none;
  font-size: 200%;
  height: 660px;
  left: 0;
  opacity: .95;
  position: fixed;
  top: 300px;
  width: 100%;
}

.content-box {
  background-color: black;
  display: none;
  left: 0;
  min-height: 2000px;
  opacity: .92;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  top: 0;
  width: 100%;

  .close {
    z-index: 10;
  }
}
