.sun-info {
  margin-top: 10px;
}
.custom-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.progress {
  border-radius: 0px !important;
}

.table-striped>tbody>tr:nth-child(odd) {
  background-color: #0d0d0d !important;
}


.confirm-dialog-box {
  margin-top: 50px;
  div.title {
    padding: 20px;
  }
  .yes {
    background-color: #006600;
  }

  .cancel {
    background-color: #cc0000;
  }
}

.main-button-box {
  div {
    min-width: 90px;
  }

  .action-button {
    margin: 0px;
    margin-bottom: 5px;
  }
}

.content-box {
  position: absolute;
  display: block;
  top: 0px;
  left: 0px;
  width: 100%;
  min-height: 2000px;
  padding: 5px;
  background-color: black;
  opacity: 0.92;

  .close {
    position: absolute;
    z-index: 10;
    top: 10px;
    right: 10px;
  }
}

.close {
  color: #cccccc;
}


.close:hover, .close:focus {
  color: white;
}

.smokeping-chart {
  display: inline-block;
}
.success-message {
  color: #07CF00;
}

.warning-message {
  color: #E8B256;
}

.error-message {
  color: #E85656;
}


.indoor-quality .age {
  font-size: 50%;
}

body {
  background-color: black;
  color: #cccccc;
}

.timeinfo .calendar {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

.center-content {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

a.list-group-item {
  background-color: #121212;
  color: #ccc;
}

.light-box {
  background-color: #111;
}

.dark-box {
  background-color: #0d0d0d;
}

.item-box {
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.item-box-left {
  padding-left: 20px;
}


.stripe-box:nth-child(even) {
  background-color: #111;
}

.stripe-box:nth-child(odd) {
  background-color: #222;
}

.action-button {
  padding: 15px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
}


.list-birthdays {
  margin-top: 20px;
}
