.server-power {
  display: inline-block;

  .shutdown {
    background-color: #cc0000;
  }

  .startup {
    background-color: #006600;
  }
}

.genelec-power {
  display: inline-block;

  .shutdown {
    background-color: #cc0000;
  }

  .startup {
    background-color: #006600;
  }

}

.display-power {
  display: inline-block;

  .shutdown-display {
    background-color: #cc0000;
  }

  .startup-display {
    background-color: #006600;
  }
}
