body {
  padding-top: 60px;
}

.content-box {
  padding-top: 60px !important;
}

#internet-connection {
  margin-top: 20px;
  font-size: 180%;
}

#indoor-quality {
  margin-top: 20px;
  font-size: 180%;
}
#server-power {
  margin-top: 20px;
  font-size: 180%;
}
