body {
  background-color: black;
  color: #bbb;

}

.light-controls {
  font-size: 900%;
}

.center-content {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}

.timeinfo .clock {
  font-size: 400%;
  font-weight: bold;
}

.timeinfo .calendar {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 450%;
}

#screensaver {
  background-color: black;
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}


#weather-general {
  float: left;
  font-size: 550%;
  text-align: center;
}
#weather-general img {
  width: 80px;
  height: 80px;
}

#time-info {
  background-color: #131313;
  height: 300px;
  padding-top: 25px;
}

#lights-off {
  background-color: #111111;
}
#lights-full {
  background-color: #006600;
  color: #E6FFD7;
}
#lights-morning {
  background-color: #222222;
}
#lights-night {
  background-color: #cc0000;
  color: #ffeded;
}

.col-md-6 {
  width: 50% !important;
  float: left;
  position: relative;
  min-height: 1px;
  padding-left: 40px;
  padding-right: 40px;
}

.light-controls div {
  height: 330px;
}

.light-controls div {
  padding-top: 60px;
}
