.main-button-box {
  font-size: 200%;
}

.timeinfo .clock {
  font-size: 790%;
  font-weight: bold;
}

.timeinfo .calendar {
  font-size: 457%;
}

.indoor-quality {
  font-size: 200%;
}

.indoor-quality .status {
  font-size: 200%;
}

.internet-connection {
  font-size: 200%;
}

.internet-connection .connected {
  font-size: 200%;
}

.server-power {
  font-size: 200%;
}

.genelec-power {
  font-size: 200%;
}

body {
  font-size: 175%;
  overflow-x: hidden;
  overflow-y: hidden;
}

#birthdays-list-all .calendar {
  font-size: 300%;
}

#lightcontrol-modal .clock {
  font-size: 300%;
  padding-right: 10px;
}
#lightcontrol-modal .calendar {
  font-size: 200%;
}


.action-button {
  font-size: 120%;
}
