.custom-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#clock {
  font-size: 790%;
  font-weight: bold;
}

.close {
  color: #cccccc;
}

.close:hover, .close:focus {
  color: white;
}

.smokeping-chart {
  display:inline-block;
}
.success-message {
  color: #07CF00;
}

.warning-message {
  color: #E8B256;
}

.error-message {
  color: #E85656;
}

#indoor-quality {
  font-size: 200%;
}

#indoor-quality .status {
  font-size: 200%;
}

#indoor-quality .age {
  font-size: 50%;
}

#internet-connection {
  font-size: 200%;
}

#internet-connection .connected {
  font-size: 200%;
}
#internet-connection .age {
  font-size: 50%;
}


body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
  color: #cccccc;
  font-size: 175%;
}

#calendar {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 457%;
}

.center-content {
  text-align: center;
  margin-left:auto;
  margin-right:auto;
}
a.list-group-item {
  background-color: #121212;
  color: #ccc;
}

.light-box {
  background-color: #111;
}

.dark-box {
  background-color: #222;
}

.item-box {
  background-color: #
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.stripe-box:nth-child(even) {
  background-color: #111;
}
.stripe-box:nth-child(odd) {
  background-color: #222;
}

.action-button {
  padding: 15px;
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 5px;
  font-size: 120%;
  background-color:
}

.repeating-tasks {
  margin-top: 20px;
}

.birthdays {
  margin-top: 20px;
}
