{% load staticfiles %}
<link href="{% static "stylesheets/vendor/_bootstrap.scss" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "vendor/jquery-ui/jquery-ui.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/vendor/font-awesome.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/vendor/nv.d3.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/shared.scss" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/server_power.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/electricity.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/lightcontrol.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/internet_connection.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/repeating_tasks.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/indoor_quality.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/timer.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/weather.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/printer.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/torrents.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/transportation.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/notifications.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "stylesheets/debug.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
