{% load staticfiles %}
<link href="{% static "sass/_bootstrap.scss" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "jquery-ui/jquery-ui.css" %}" type="text/css" charset="utf-8" rel="stylesheet">
<link href="{% static "css/font-awesome.css" %}" type="text/css" charset="utf-8" rel="stylesheet">
<link href="{% static "css/nv.d3.css" %}" type="text/css" charset="utf-8" rel="stylesheet">
<link href="{% static "sass/shared.scss" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
<link href="{% static "css/server_power.css" %}" type="text/css" charset="utf-8" rel="stylesheet">
<link href="{% static "css/electricity.css" %}" type="text/css" charset="utf-8" rel="stylesheet">
<link href="{% static "css/lightcontrol.css" %}" type="text/css" charset="utf-8" rel="stylesheet">
<link href="{% static "css/internet_connection.css" %}" type="text/css" charset="utf-8" rel="stylesheet">
<link href="{% static "css/repeating_tasks.css" %}" type="text/css" charset="utf-8" rel="stylesheet">
<link href="{% static "css/indoor_quality.css" %}" type="text/css" charset="utf-8" rel="stylesheet">
<link href="{% static "css/timer.css" %}" type="text/css" charset="utf-8" rel="stylesheet">
<link href="{% static "css/weather.css" %}" type="text/css" charset="utf-8" rel="stylesheet">
<link href="{% static "css/printer.css" %}" type="text/css" charset="utf-8" rel="stylesheet">
<link href="{% static "css/torrents.css" %}" type="text/css" charset="utf-8" rel="stylesheet">
<link href="{% static "css/transportation.css" %}" type="text/css" charset="utf-8" rel="stylesheet">
<link href="{% static "css/debug.css" %}" type="text/css" charset="utf-8" rel="stylesheet">
