{% load staticfiles %}
<script src="{% static "js/d3.js" %}" type="text/javascript"></script>
<script src="{% static "js/nv.d3.js" %}" type="text/javascript"></script>
<script src="{% static "js/filesize.js" %}" type="text/javascript"></script>
<script src="{% static "js/display.js" %}" type="text/javascript"></script>
<script src="{% static "js/timer.js" %}" type="text/javascript"></script>
<script src="{% static "js/custom_timers.js" %}" type="text/javascript"></script>
<script src="{% static "js/electricity.js" %}" type="text/javascript"></script>
<script src="{% static "js/internet_connection.js" %}" type="text/javascript"></script>
<script src="{% static "js/repeating_tasks.js" %}" type="text/javascript"></script>
<script src="{% static "js/indoor_quality.js" %}" type="text/javascript"></script>
<script src="{% static "js/server_power.js" %}" type="text/javascript"></script>
<script src="{% static "js/birthdays.js" %}" type="text/javascript"></script>
<script src="{% static "js/moment_auto_update.js" %}" type="text/javascript"></script>
<script src="{% static "js/lightcontrol_timed.js" %}" type="text/javascript"></script>
<script src="{% static "js/printer.js" %}" type="text/javascript"></script>
<script src="{% static "js/torrents.js" %}" type="text/javascript"></script>
<script src="{% static "js/transportation.js" %}" type="text/javascript"></script>
