{% load staticfiles compress %}
{% compress js %}
<script src="{% static "js/vendor/d3.js" %}" type="text/javascript"></script>
<script src="{% static "js/vendor/nv.d3.js" %}" type="text/javascript"></script>
<script src="{% static "js/vendor/filesize.js" %}" type="text/javascript"></script>
<script async src="{% static "js/display.coffee" %}" type="text/coffeescript"></script>
<script async src="{% static "js/timer.coffee" %}" type="text/coffeescript"></script>
<script async src="{% static "js/custom_timers.coffee" %}" type="text/coffeescript"></script>
<script async src="{% static "js/electricity.js" %}" type="text/javascript"></script>
<script async src="{% static "js/internet_connection.coffee" %}" type="text/coffeescript"></script>
<script async src="{% static "js/repeating_tasks.coffee" %}" type="text/coffeescript"></script>
<script async src="{% static "js/indoor_quality.js" %}" type="text/javascript"></script>
<script async src="{% static "js/server_power.coffee" %}" type="text/coffeescript"></script>
<script async src="{% static "js/birthdays.coffee" %}" type="text/coffeescript"></script>
<script async src="{% static "js/moment_auto_update.coffee" %}" type="text/coffeescript"></script>
<script async src="{% static "js/lightcontrol_timed.coffee" %}" type="text/coffeescript"></script>
<script async src="{% static "js/printer.coffee" %}" type="text/coffeescript"></script>
<script async src="{% static "js/torrents.coffee" %}" type="text/coffeescript"></script>
{% endcompress %}
