{% load compress staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Door</title>

  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static "stylesheets/vendor/_bootstrap.scss" %}">
  <link rel="stylesheet" type="text/x-scss" href="{% static "stylesheets/custom_door.css" %}">
  <link rel="stylesheet" type="text/x-scss" href="{% static "stylesheets/vendor/font-awesome.css" %}">
  <link rel="stylesheet" type="text/x-scss" href="{% static "vendor/jquery-ui/jquery-ui.css" %}">
  {% endcompress %}
</head>

<body>
  <div id="main-content">
    <div class="row">
      <div class="col-md-6 center-content" id="time-info">
        <div class="timeinfo">
          <div class="clock" class="center-content">--:--:--</div>
          <div class="calendar" class="center-content">------</div>
        </div>
      </div>
      <div class="col-md-6" id="weather-general">
        <i class="fa fa-question-circle"></i>
      </div>
    </div> <!-- row -->

    <div class="row transportation">
      <div class="col-md-6">
        <ul></ul>
      </div>
      <div class="col-md-6">
        <ul></ul>
      </div>
    </div>

    <div class="clear: both"></div>
    <div class="row light-controls">
      <div class="col-md-6 center-content lightcontrol-btn" data-command="on" data-source="door" id="lights-full">
        <i class="fa fa-sun-o"></i>
      </div>
      <div class="col-md-6 center-content lightcontrol-btn" data-command="off" data-source="door" id="lights-off">
        <i class="fa fa-power-off"></i>
      </div>
    </div>
    <div class="clear: both"></div>

    <div class="row light-controls">
      <div class="col-md-6 center-content lightcontrol-btn" data-source="door" data-command="night" id="lights-night">
        <i class="fa fa-bed"></i>
      </div>
      <div class="col-md-6 center-content lightcontrol-btn" data-command="morning" data-source="door" id="lights-morning">
        <i class="fa fa-moon-o"></i>
      </div>
    </div>
  </div>

  <div class="door-shutdown-options">
    <div class="item-box dark-box netdisk-timer">
      Verkkolevy sammuu <span class="timer"></span> päästä<br/>
      <div class="action-button cancel">Peruuta</div>
    </div>

    <div class="item-box light-box speakers-timer">
      Kaiuttimet sammuvat <span class="timer"></span> päästä<br/>
      <div class="action-button cancel">Peruuta</div>
    </div>

    <div class="item-box dark-box display-timer">
      Näyttö sammuu <span class="timer"></span> päästä<br/>
      <div class="action-button cancel">Peruuta</div>
    </div>
  </div>

  <div id="screensaver">
    <div class="center-content">
      <div class="clock-hours"></div>
      <div class="clock-minutes"></div>
    </div>
  </div>

  {% include "snippets/modals/disconnected.html" %}

  {% include "includes/js_constants.html" %}
  {% include "includes/base_js.html" %}

  {% compress js %}
  <script src="{% static "js/weather_door.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "js/transportation_common.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "js/transportation_door.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "js/custom_door.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
</body>
</html>
