{% load compress staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head  profile="http://www.w3.org/2005/10/profile">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Olli Jarva">

  <title>Info</title>

  <link rel="shortcut icon" type="image/png" href="/homecontroller/static/img/favicon.png"/>

  {% compress css %}
  <link href="{% static "stylesheets/custom_display.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
  {% include "includes/base_css.html" %}
  {% endcompress %}
</head>

<body>
  <div class="custom-container">
    <div id="main-content">
      <div class="row">

        <div class="col-md-4">
          <div class="row">
            <div class="col-md-12">
              <div class="item-box main-button-box">
                <div class="center-content stripe-box animate-click action-button electricity"><i class="fa fa-bolt"></i></div>
                <div class="center-content stripe-box animate-click action-button lights"><i class="fa fa-lightbulb-o"></i></div>
                <div class="center-content stripe-box animate-click action-button repeating"><i class="fa fa-repeat"></i></div>
                <div class="center-content stripe-box animate-click action-button birthdays"><i class="fa fa-birthday-cake"></i></div>
                <div class="center-content stripe-box animate-click action-button open-weather-modal"><i class="fa fa-umbrella"></i></div>
                <div class="center-content stripe-box animate-click action-button print-labels"><i class="fa fa-print"></i></div>
                <div class="center-content stripe-box animate-click action-button linux-downloads"><i class="fa fa-download"></i></div>
                <div class="center-content stripe-box animate-click action-button debug-modal"><i class="fa fa-bug"></i></div>
                <div class="center-content stripe-box animate-click action-button open-wifi-settings">
                  <i class="fa fa-wifi"></i>
                </div>
                <div class="server-power">
                  <div style="display:none;" class="shutdown action-button animate-click stripe-box"><i class="fa fa-server"></i>&nbsp;<i class="fa fa-power-off"></i></div>
                  <div style="display:none;" class="startup action-button animate-click stripe-box"><i class="fa fa-server"></i>&nbsp;<i class="fa fa-power-off"></i></div>
                  <div style="display:none;" class="unknown action-button animate-click stripe-box"><i class="fa fa-server"></i>&nbsp;<i class="fa fa-question-circle"></i></div>
                </div>
                <div class="genelec-power">
                  <div class="startup action-button animate-click stripe-box"><i class="fa fa-bullhorn"></i>&nbsp;<i class="fa fa-power-off"></i></div>
                </div>
              </div>
            </div>
          </div>

          <div class="item-box" id="today">
            <div class="list-repeating-tasks">
              <ul class="fa-ul">
              </ul>
            </div>

            <div class="list-birthdays">
              <ul class="fa-ul">
              </ul>
            </div>

            <div class="list-namedays">
              <ul class="fa-ul">
              </ul>
            </div>
          </div>

          <div class="item-box-left" id="tomorrow">
            <div class="list-birthdays">
              <ul class="fa-ul">
              </ul>
            </div>
          </div>

          <div class="transportation item-box">
            <ul class="fa-ul">
            </ul>
          </div>
        </div>


        <div class="col-md-4 center-column">
          <div class="center-content darkbox">
            <div class="timeinfo">
              <div class="clock">--:--:--</div>
              <div class="calendar">-- --.-.</div>
            </div>
          </div>
          <div class="lightbox center-content">
            {% include "snippets/large_button.html" with mode="off" command="off" icon="power-off" %}
            {% include "snippets/large_button.html" with mode="on" command="on" icon="sun-o" %}
            {% include "snippets/large_button.html" with mode="night" command="night" icon="bed" %}
            <br>
            {% include "snippets/large_button.html" with mode="morning" command="morning-sleeping" icon="bed" icon2="user" %}
            {% include "snippets/large_button.html" with mode="morning lights-morning-auto" command="morning-all" icon="arrow-right" icon2="bed" %}
          </div>

          <div class="timed-lightcontrols-main">
            {% include "snippets/all_timed_lightcontrols.html" %}
          </div>

          <div class="per-group center-content">
            {% include "snippets/per_group_auto_brightness.html" with group="1" group_name="Tatami" mode="off" command="off" icon="power-off" %}

            {% include "snippets/per_group_auto_brightness.html" with group="2" group_name="Pöytä" mode="off" command="off" icon="power-off" %}
            <br>
            {% include "snippets/per_group_auto_brightness.html" with group="3" group_name="Keittiö" mode="off" command="off" icon="power-off" %}

            {% include "snippets/per_group_auto_brightness.html" with group="4" group_name="Eteinen" mode="off" command="off" icon="power-off" %}

          </div>
        </div>


        <div class="col-md-4 last-column">
          <div class="close"><i class="fa fa-power-off"></i></div>

          <div class="item-box internet-connection">
            {% include "snippets/internet_connection.html" %}
          </div>
          <div class="item-box indoor-quality">
            {% include "snippets/indoor_quality.html" %}
          </div>

          <div class="row weather open-weather-modal">
            <div class="col-md-12 weather-main">
              <span class="temperature-now data-field"><i class='fa fa-question-circle'></i></span><span class="wind-now-description">Tuuli:</span> <span class="wind-now data-field"><i class='fa fa-question-circle'></i></span> <span class="wind-direction-now data-field"></span><br>
              <span class="description-now data-field"></span><br>
              <span class="future-direction"></span>
            </div>
          </div>

          <div id="timers">
            {% include "snippets/add_timers.html" %}

            <div id="stopclock-holder">
            </div>

            <div id="timer-holder">
            </div>
          </div>
        </div>
      </div>

    </div> <!-- main-content -->
    {% include "snippets/modal_dialogs.html" %}
    {% include "snippets/modals/disconnected.html" %}
  </div>

  {% include "includes/js_constants.html" %}
  {% include "includes/base_js.html" %}
  {% include "includes/computer_display_common_js.html" %}
  {% compress js %}
  <script src="{% static "js/vendor/jquery.qrcode.js" %}" type="text/javascript"></script>
  <script src="{% static "js/wifi.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "js/custom_display.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "js/weather.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "js/namedays.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "js/transportation_common.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "js/transportation.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "js/outdoor_quality.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
</body>
</html>
