{% load compress staticfiles %}
<html>
<head>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="mobile-web-app-capable" content="yes">

  {% include "includes/js_constants.html" %}
  {% compress js %}
    <script src="{% static "js/vendor/jquery-1.11.2.js" %}" type="text/javascript"></script>
    <script src="{% static "js/jquery-options.coffee" %}" type="text/coffeescript"></script>
    <script src="{% static "js/frame.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}
</head>
  <frameset cols="100%">
    <frame id="content-frame" src="{{ frame_src }}">
  </frameset>
</html>
