{% load compress staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head  profile="http://www.w3.org/2005/10/profile">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Olli Jarva">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <title>Koti</title>
  <link rel="shortcut icon" type="image/png" href="/homecontroller/static/img/favicon.png"/>

  {% compress css %}
  <link href="{% static "stylesheets/custom_computer.css" %}" type="text/x-scss" charset="utf-8" rel="stylesheet">
  {% include "includes/base_css.html" %}
  {% endcompress %}
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Koti</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav main-button-box">
          <li><a class="repeating" href="#"><i class="fa fa-repeat"></i></a></li>
          <li><a class="lights" href="#"><i class="fa fa-lightbulb-o"></i></a></li>
          <li><a class="electricity" href="#"><i class="fa fa-bolt"></i></a></li>
          <li><a class="birthdays" href="#"><i class="fa fa-birthday-cake"></i></a></li>
          <li><a class="refresh" href="#"><i class="fa fa-refresh"></i></a></li>

        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <div class="container">
    <a name="top"></a>
    <div id="main-content">
      <div class="row">
        <div class="col-md-6">

          <div class="row">
            <div class="col-md-12">
              <div id="lightcontrol" class="lightbox center-content">
                <div class="action-button lightcontrol-btn-large lightcontrol-btn lights-off" data-source="computer" data-command="off"><i class="fa fa-power-off"></i></div>
                <div class="action-button lightcontrol-btn-large lightcontrol-btn lights-on" data-source="computer" data-command="on"><i class="fa fa-sun-o"></i></div>
                <div class="action-button lightcontrol-btn-large lightcontrol-btn lights-morning" data-source="computer" data-command="morning-sleeping"><i class="fa fa-bed"></i> <i class="fa fa-user"></i></div>
                <div class="action-button lightcontrol-btn-large lightcontrol-btn lights-morning" data-source="computer" data-command="morning-wakeup"><i class="fa fa-bed"></i><i class="fa fa-arrow-up"></i></div>
                <div class="action-button lightcontrol-btn-large lightcontrol-btn lights-night" data-source="computer" data-command="night"><i class="fa fa-bed"></i></div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 center-content">
            {% include "snippets/server_power.html" %}
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <form id="open-ext-page">
                <div class="form-group">
                  <label for="open-ext-page-url">Sivun osoite</label>
                  <input type="text" class="form-control" id="open-ext-page-url" placeholder="Url">
                </div>
              </form>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="item-box" id="today">
                <div class="row">
                  <div class="col-md-12">
                    <h2>Tänään</h2>
                  </div>
                </div>

                <div class="list-repeating-tasks">
                  <ul class="fa-ul">
                  </ul>
                </div>

                <div class="list-birthdays">
                  <ul class="fa-ul">
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="item-box" id="tomorrow">
                <div class="row">
                  <div class="col-md-12">
                    <h2>Huomenna</h2>
                  </div>
                </div>

                <div class="list-repeating-tasks">
                  <ul class="fa-ul">
                  </ul>
                </div>

                <div class="list-birthdays">
                  <ul class="fa-ul">
                  </ul>
                </div>
              </div>
            </div>
          </div>

      </div>

      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div id="timers">
              {% include "snippets/add_timers.html" %}

              <div id="stopclock-holder">
              </div>

              <div id="timer-holder">
              </div>
            </div>
          </div>
        </div> <!-- row for timers -->

        <div class="row">
          <div class="col-md-12">
            <div class="item-box internet-connection">
              {% include "snippets/internet_connection.html" %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="item-box indoor-quality">
              {% include "snippets/indoor_quality.html" %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div> <!-- main-content -->


    </div> <!-- main-content -->
    {% include "snippets/modal_dialogs.html" %}
  </div> <!-- container -->

  {% compress js %}
  {% include "includes/js_constants.html" %}
  {% include "includes/base_js.html" %}
  {% include "includes/computer_display_common_js.html" %}
  <script src="{% static "js/custom_computer.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}

</body>
</html>
