
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Olli Jarva">

    <title>Info</title>

    <link href="/homecontroller/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/homecontroller/static/jquery-ui/jquery-ui.css" rel="stylesheet">
    <link href="/homecontroller/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/homecontroller/static/css/nv.d3.css" rel="stylesheet">

    <link href="/homecontroller/static/css/screen.css" rel="stylesheet">
    <link href="/homecontroller/static/css/server_power.css" rel="stylesheet">
    <link href="/homecontroller/static/css/lightcontrol.css" rel="stylesheet">
    <link href="/homecontroller/static/css/repeating_tasks.css" rel="stylesheet">
    <link href="/homecontroller/static/css/timer.css" rel="stylesheet">
    <link href="/homecontroller/static/css/weather.css" rel="stylesheet">

</head>

<body>
  <div class="custom-container">
    <div id="main-content">
      <div class="row">
          <div class="col-md-4">
              <div class="center-content darkbox">
                  <div id="clock">--:--:--</div>
                  <div id="calendar">-- --.-.</div>
              </div>
              <div id="lightcontrol" class="lightbox center-content">
                {% include "snippets/large_button.html" with mode="off" text="Pois" icon="power-off" %}
                {% include "snippets/large_button.html" with mode="on" text="Kirkkaaksi" icon="sun-o" %}
                {% include "snippets/large_button.html" with mode="morning" text="Aamu" icon="moon-o" %}
                {% include "snippets/large_button.html" with mode="night" text="Yö" icon="bed" %}

                <div class="row">
                  <h3>Tatami</h3>
                  <div>
                    {% include "snippets/small_button.html" with group=1 mode="off" text="Pois" icon="power-off" %}
                    {% include "snippets/small_button.html" with group=1 mode="on" text="Kirkkaaksi" icon="sun-o" %}
                    {% include "snippets/small_button.html" with group=1 mode="morning" text="Aamu" icon="moon-o" %}
                    {% include "snippets/small_button.html" with group=1 mode="night" text="Yö" icon="bed" %}
                  </div>
                </div>
                <div class="row">
                  <h3>Pöytä</h3>
                  <div>
                    {% include "snippets/small_button.html" with group=2 mode="off" text="Pois" icon="power-off" %}
                    {% include "snippets/small_button.html" with group=2 mode="on" text="Kirkkaaksi" icon="sun-o" %}
                    {% include "snippets/small_button.html" with group=2 mode="morning" text="Aamu" icon="moon-o" %}
                    {% include "snippets/small_button.html" with group=2 mode="night" text="Yö" icon="bed" %}
                  </div>
                </div>
                <div class="row">
                  <h3>Keittiö</h3>
                  <div>
                    {% include "snippets/small_button.html" with group=3 mode="off" text="Pois" icon="power-off" %}
                    {% include "snippets/small_button.html" with group=3 mode="on" text="Kirkkaaksi" icon="sun-o" %}
                    {% include "snippets/small_button.html" with group=3 mode="morning" text="Aamu" icon="moon-o" %}
                    {% include "snippets/small_button.html" with group=3 mode="night" text="Yö" icon="bed" %}
                  </div>
                </div>
                <div class="row">
                  <h3>Eteinen</h3>
                  <div>
                    {% include "snippets/small_button.html" with group=4 mode="off" text="Pois" icon="power-off" %}
                    {% include "snippets/small_button.html" with group=4 mode="on" text="Kirkkaaksi" icon="sun-o" %}
                    {% include "snippets/small_button.html" with group=4 mode="morning" text="Aamu" icon="moon-o" %}
                    {% include "snippets/small_button.html" with group=4 mode="night" text="Yö" icon="bed" %}
                  </div>
                </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="lightbox" id="internet-connection">
              <span class="connected"><i class="fa fa-question-circle"></i></span>
              <span class="signal-bars"><div class="signal-1"></div><div class="signal-2"></div><div class="signal-3"></div><div class="signal-4"></div><div class="signal-5"></div></span>
              <span class="mode"></span>
              <span class="ping"></span>
            </div>
            <div class="lightbox" id="indoor-quality">
              <div class="main-content">
                <span class="status"><i class="fa fa-question-circle"></i></span>
                <span class="co2"></span>
                <span class="trend"></span>
                <span class="temperature"></span>
              </div>
            </div>
            <div class="lightbox" id="server_power">
              Verkkolevy:
              <div style="display:none;" class="shutdown action-button animate-click stripe-box">&nbsp;<i class="fa fa-power-off"></i>&nbsp;</div>
              <div style="display:none;" class="startup action-button animate-click stripe-box">&nbsp;<i class="fa fa-power-off"></i>&nbsp;</div>
              <div style="display:none;" class="unknown action-button animate-click stripe-box">&nbsp;<i class="fa fa-question-circle"></i>&nbsp;</div>
            </div>
            <div id="timers">
              <div class="row timer-item center-content add-timers">
                <div class="col-md-3 timer-striping animate-click add-timer" data-duration="2700" data-name="Pesukone">
                  <p><i style="font-size: 300%" class="fa fa-cutlery"></i></p>
                </div>
                <div class="col-md-3 timer-striping animate-click add-timer" data-duration="180" data-name="Tee">
                  <p><i style="font-size: 300%" class="fa fa-coffee"></i></p>
                </div>
                <div class="col-md-3 timer-striping animate-click" id="add-stopclock">
                  <p><i style="font-size: 300%" class="fa fa-clock-o"></i></p>
                </div>
                <div class="col-md-3 timer-striping animate-click" id="add-custom-timer-plus">
                  <p><i style="font-size: 300%" class="fa fa-plus"></i></p>
                </div>
              </div>

              <div id="stopclock-holder">
              </div>

              <div id="timer-holder">
              </div>
            </div>


            <div class="lightbox" id=""
            <div class="lightbox" id="repeating_tasks">
              <div class="list-group">
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="row">
              <div class="col-md-9">
                <div class="item-box" id="main-button-box">
                  <div class="center-content stripe-box animate-click action-button electricity"><i class="fa fa-bolt"></i></div>
                  <div class="center-content stripe-box animate-click action-button lights"><i class="fa fa-lightbulb-o"></i></div>
                  <div class="center-content stripe-box animate-click action-button repeating"><i class="fa fa-repeat"></i></div>
                  <div class="center-content stripe-box animate-click action-button birthdays"><i class="fa fa-birthday-cake"></i></div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="close" style="font-size: 600%"><i class="fa fa-power-off"></i></div>
              </div>
            </div>
            <div class="item-box" id="today">
              <div class="row">
                <div class="col-md-12">
                  <h2>Tänään</h2>
                </div>
              </div>
              <div class="row weather-info">
                <div class="col-md-4 stripe-box weather-1">
                  Nyt<br>
                  <i class="fa fa-question-circle"></i>
                </div>
                <div class="col-md-4 stripe-box weather-2">
                  2h<br>
                  <i class="fa fa-question-circle"></i>
                </div>
                <div class="col-md-4 stripe-box weather-3">
                  Ilta<br>
                  <i class="fa fa-question-circle"></i>
                </div>
              </div>

              <div class="repeating-tasks">
                <ul class="fa-ul">
                </ul>
              </div>

              <div class="birthdays">
                <ul class="fa-ul">
                </ul>
              </div>
            </div>
            <div class="item-box" id="tomorrow">
              <div class="row">
                <div class="col-md-12">
                  <h2>Huomenna</h2>
                </div>
              </div>
              <div class="row weather-info">
                <div class="col-md-4 stripe-box weather-1">
                  Aamu<br>
                  <i class="fa fa-question-circle"></i>
                </div>
                <div class="col-md-4 stripe-box weather-2">
                  Iltapäivä<br>
                  <i class="fa fa-question-circle"></i>
                </div>
                <div class="col-md-4 stripe-box weather-3">
                  Ilta<br>
                  <i class="fa fa-question-circle"></i>
                </div>
              </div>

              <div class="repeating-tasks">
                <ul class="fa-ul">
                </ul>
              </div>

              <div class="birthdays">
                <ul class="fa-ul">
                </ul>
              </div>
            </div>
          </div>
      </div>

    </div> <!-- main-content -->
    <div style="display:none;" class="content-box" id="indoor-quality-modal">
      <div class="close" style="font-size: 600%;"><i class="fa fa-times-circle-o"></i></div>
      <h3>Hiilidioksidi (<span class="latest-indoor-co2"></span>ppm)</h3>
      <div id="indoor-air-quality-co2-graph">
        <svg style='height:350px'> </svg>
        <div style="display:none" class="data-error error-message"><i class="fa fa-times"></i> Ei tietoja</div>
      </div>
      <h3>Lämpötila (<span class="latest-indoor-temperature"></span>&deg;C)</h3>
      <div id="indoor-air-quality-temperature-graph">
        <svg style='height:350px'> </svg>
        <div style="display:none" class="data-error error-message"><i class="fa fa-times"></i> Ei tietoja</div>
      </div>
    </div>
    <div style="display:none;" class="content-box" id="internet-connection-modal">
      <div class="close" style="font-size: 600%;"><i class="fa fa-times-circle-o"></i></div>
      <div class="smokeping-charts">
      </div>
    </div>
    <div style="display:none" class="content-box" id="confirm-repeating-task">
      <div class="close" style="font-size: 600%"><i class="fa fa-times-circle-o"></i></div>
      <div class="confirm-dialog-box">
        <div>Merkkaa "<span class="task-title"></span>" valmiiksi?</div>
        <div>
          <div class="action-button animate-click yes">Kyllä</div> <div class="action-button animate-click cancel">Peruuta</div>
        </div>
      </div>
    </div>
    <div style="display:none" class="content-box" id="birthdays-list-all">
      <div class="custom-container">
        <div class="close" style="font-size: 600%"><i class="fa fa-times-circle-o"></i></div>
          <div class="row">
            <div class="col-md-4">
              <ul class="fa-ul">
              </ul>
            </div>
            <div class="col-md-4">
              <ul class="fa-ul">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none" class="content-box" id="repeating-tasks-all">
      <div class="custom-container">
        <div class="close" style="font-size: 600%"><i class="fa fa-times-circle-o"></i></div>
          <div class="row">
            <div class="col-md-4">
              <ul class="fa-ul">
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none" class="content-box" id="shutdown-progress">
      <div class="custom-container">
        <div class="close" style="font-size: 600%"><i class="fa fa-times-circle-o"></i></div>
        <div class="confirm-dialog-box">
          <div class="title">Sammuta näyttö?</div>
          <div class='progress' style="padding:0px">
            <div class='progress-bar progress-bar-danger' role='progressbar' aria-valuenow='100' aria-valuemin='0' aria-valuemax='100' style='width:0%'></div>
          </div>
          <div>
            <div class="action-button animate-click yes">Heti</div> <div class="action-button animate-click cancel">Peruuta</div>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none" class="content-box" id="add-custom-timer">
      {% include "snippets/add_custom_timer.html" %}
    </div>
  </div>


  <!-- Bootstrap core JavaScript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  {% include "snippets/js_base.html" %}

  <script src="/homecontroller/static/js/d3.min.js"></script>
  <script src="/homecontroller/static/js/nv.d3.js"></script>
  <script src="/homecontroller/static/js/main.js"></script>


  <script src="/homecontroller/static/js/shutdown.js"></script>
  <script src="/homecontroller/static/js/clock.js"></script>
  <script src="/homecontroller/static/js/timer.js"></script>
  <script src="/homecontroller/static/js/custom_timers.js"></script>

  <script src="/homecontroller/static/js/lightcontrol.js"></script>
  <script src="/homecontroller/static/js/internet_connection.js"></script>
  <script src="/homecontroller/static/js/repeating_tasks.js"></script>
  <script src="/homecontroller/static/js/indoor_quality.js"></script>
  <script src="/homecontroller/static/js/server_power.js"></script>
  <script src="/homecontroller/static/js/weather.js"></script>
  <script src="/homecontroller/static/js/birthdays.js"></script>


</body>
</html>
