{% load compress staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
  <meta name="mobile-web-app-capable" content="yes">
  <title>Kitchen</title>
  {% compress css %}
  <link rel="stylesheet" type="text/x-scss" href="{% static "stylesheets/vendor/_bootstrap.scss" %}">
  <link rel="stylesheet" type="text/x-scss" href="{% static "vendor/jquery-ui/jquery-ui.css" %}">
  <link rel="stylesheet" type="text/x-scss" href="{% static "stylesheets/vendor/font-awesome.css" %}">
  <link rel="stylesheet" type="text/x-scss" href="{% static "stylesheets/shared.scss" %}">
  <link rel="stylesheet" type="text/x-scss" href="{% static "stylesheets/custom_kitchen.css" %}">
  <link rel="stylesheet" type="text/x-scss" href="{% static "stylesheets/timer.css" %}">
  {% endcompress %}
</head>

<body>
  <div id="main-content">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12 center-content" id="time-info">
            <div class="center-content">
              <div class="timeinfo">
                <div class="clock">--:--:--</div>
                <div class="calendar">-----</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row light-controls">
          <div>
            <div class="col-md-3 center-content lightcontrol-btn lightcontrol-btn-large" data-group="3" data-command="off" id="lights-off">
              <i class="fa fa-power-off"></i>
            </div>
            <div class="col-md-3 center-content lightcontrol-btn lightcontrol-btn-large" data-group="3" data-command="on" id="lights-full">
              <i class="fa fa-sun-o"></i>
            </div>
            <div class="col-md-3 center-content lightcontrol-btn lightcontrol-btn-large" data-group="3" data-command="morning" id="lights-morning">
              <i class="fa fa-moon-o"></i>
            </div>
            <div class="col-md-3 center-content lightcontrol-btn lightcontrol-btn-large" data-group="3" data-command="night" id="lights-night">
              <i class="fa fa-bed"></i>
            </div>
          </div>
          <div style="clear: both"></div>

          <div class="brightness-slider-container">
            <div class="brightness-slider brightness-slider-group-3" data-id="3"></div>
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div id="timers">
          {% include "snippets/add_timers.html" %}

          <div id="stopclock-holder">
          </div>

          <div id="timer-holder">
          </div>
        </div>
      </div>

    </div> <!-- row -->

    <div class="open-ext-content-frame" id="main-open-ext-content-frame" style="display:none">
      <i class="fa fa-share-square"></i>
    </div>
  </div> <!-- main-content -->
  <div id="add-custom-timer" class="content-box" style="display:none">
    {% include "snippets/modals/add_custom_timer.html" %}
  </div> <!-- add-custom-timer -->

  <div id="ext-content-frame" class="content-box" style="display:none">
    {% include "snippets/modals/ext_content.html" %}
  </div>
  {% compress js %}
  {% include "includes/js_constants.html" %}
  {% include "includes/base_js.html" %}
  <script src="{% static "js/timer.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "js/custom_timers.coffee" %}" type="text/coffeescript"></script>
  <script src="{% static "js/custom_kitchen.coffee" %}" type="text/coffeescript"></script>
  {% endcompress %}

</body>
</html>
