<!DOCTYPE html>
<html lang="en">
<head  profile="http://www.w3.org/2005/10/profile">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Olli Jarva">

  <title>Info</title>

  <link rel="shortcut icon" type="image/png" href="/homecontroller/static/img/favicon.png"/>
  <link href="/homecontroller/static/css/custom_display.css" rel="stylesheet">
  {% include "snippets/common_css.html" %}

</head>

<body>
  <div class="custom-container">
    <div id="main-content">
      <div class="row">
        <div class="col-md-4">
          <div class="center-content darkbox">
            <div id="clock">--:--:--</div>
            <div id="calendar">-- --.-.</div>
          </div>
          <div class="lightbox center-content">
            <div class="action-button lightcontrol-btn-large lightcontrol-btn lights-off" data-source="display" data-command="off"><i class="fa fa-power-off"></i></div>
            <div class="action-button lightcontrol-btn-large lightcontrol-btn lights-on" data-source="display" data-command="on"><i class="fa fa-sun-o"></i></div>
            <div class="action-button lightcontrol-btn-large lightcontrol-btn lights-night" data-source="display" data-command="night"><i class="fa fa-bed"></i></div>
            <br>
            <div class="action-button lightcontrol-btn-large lightcontrol-btn lights-morning" data-source="display" data-command="morning-sleeping"><i class="fa fa-bed"></i> <i class="fa fa-user"></i></div>
            <div class="action-button lightcontrol-btn-large lightcontrol-btn lights-morning" data-source="display" data-command="morning-all"><i class="fa fa-arrow-right"></i><i class="fa fa-bed"></i></div>
          </div>

          <!-- morning -->
          <div class="timed-lightcontrol timed-lightcontrol-morning item-box light-box" data-action="morning">
            <div class="row">
              <div class="col-md-12">
                <div style="float:left" class="animation-direction">
                  <span class="action-button animate-click"><i class="fa fa-chevron-circle-up"></i><i class="fa fa-sun-o"></i></span>
                </div>
                <div style="float:right" class="center-content">
                  <span class="duration-content">+-:--</span>
                  <div class="time-control duration-time"><div class="plus action-button animate-click"><i class="fa fa-plus"></i></div><div class="minus action-button animate-click"><i class="fa fa-minus"></i></div></div>
                </div>
                <div style="float:right" class="center-content">
                  <span class="start-time-content">--:--</span>
                  <div class="time-control start-time"><div class="plus action-button animate-click"><i class="fa fa-plus"></i></div><div class="minus action-button animate-click"><i class="fa fa-minus"></i></div></div>
                </div>
                <div class="play-control"><span class="action-button animate-click"><i class="fa-fw fa fa-stop"></i></span></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span class="time-left"></span>
              </div>
            </div>
          </div>

          <!-- evening -->
          <div class="timed-lightcontrol timed-lightcontrol-evening item-box dark-box" data-action="evening">
            <div class="row">
              <div class="col-md-12">
                <div style="float:left" class="animation-direction">
                  <span class="action-button animate-click"><i class="fa fa-arrow-right"></i><i class="fa fa-bed"></i></span>
                </div>
                <div style="float:right" class="center-content">
                  <span class="duration-content">+-:--</span>
                  <div class="time-control duration-time"><div class="plus action-button animate-click"><i class="fa fa-plus"></i></div><div class="minus action-button animate-click"><i class="fa fa-minus"></i></div></div>
                </div>
                <div style="float:right" class="center-content">
                  <span class="start-time-content">--:--</span>
                  <div class="time-control start-time"><div class="plus action-button animate-click"><i class="fa fa-plus"></i></div><div class="minus action-button animate-click"><i class="fa fa-minus"></i></div></div>
                </div>
                <div class="play-control"><span class="action-button animate-click"><i class="fa-fw fa fa-stop"></i></span></div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <span class="time-left"></span>
              </div>
            </div>
          </div>

        </div>
        <div class="col-md-4">
          <div class="item-box internet-connection">
            {% include "snippets/internet_connection.html" %}
          </div>
          <div class="item-box indoor-quality">
            {% include "snippets/indoor_quality.html" %}
          </div>
          <div class="item-box">
            {% include "snippets/server_power.html" %}
          </div>
          <div id="timers">
            {% include "snippets/add_timers.html" %}

            <div id="stopclock-holder">
            </div>

            <div id="timer-holder">
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col-md-9">
              <div class="item-box main-button-box">
                <div class="center-content stripe-box animate-click action-button electricity"><i class="fa fa-bolt"></i></div>
                <div class="center-content stripe-box animate-click action-button lights"><i class="fa fa-lightbulb-o"></i></div>
                <div class="center-content stripe-box animate-click action-button repeating"><i class="fa fa-repeat"></i></div>
                <div class="center-content stripe-box animate-click action-button birthdays"><i class="fa fa-birthday-cake"></i></div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="close" style="font-size: 600%"><i class="fa fa-power-off"></i></div>
            </div>
          </div>
          <div class="item-box" id="today">
            <div class="row">
              <div class="col-md-12">
                <h2>Tänään</h2>
              </div>
            </div>
            {% include "snippets/weather_info.html" %}

            <div class="sun-info"></div>
            <div class="list-repeating-tasks">
              <ul class="fa-ul">
              </ul>
            </div>

            <div class="list-birthdays">
              <ul class="fa-ul">
              </ul>
            </div>
          </div>
          <div class="item-box" id="tomorrow">
            <div class="row">
              <div class="col-md-12">
                <h2>Huomenna</h2>
              </div>
            </div>
            {% include "snippets/weather_info.html" %}


            <div class="list-repeating-tasks">
              <ul class="fa-ul">
              </ul>
            </div>

            <div class="list-birthdays">
              <ul class="fa-ul">
              </ul>
            </div>
          </div>
        </div>
      </div>

    </div> <!-- main-content -->
    {% include "snippets/modal_dialogs.html" %}
  </div>

  {% include "snippets/js_base.html" %}

  <script src="/homecontroller/static/js/d3.min.js"></script>
  <script src="/homecontroller/static/js/nv.d3.js"></script>

  {% include "snippets/js_common.html" %}
  <script src="/homecontroller/static/js/clock.js"></script>
  <script src="/homecontroller/static/js/weather.js"></script>

</body>
</html>
